<div class="container">
    <form>
        <div class="mb-3 row">
            <label for="kmCount" class="form-label col-2 fw-bold">Количество километров</label>
            <input type="text" class="form-control col" id="kmCount" #box1 (keyup)="getKm(box1.value)">
        </div>
        <div class="mb-3 row">
            <label for="age" class="form-label col-2 fw-bold">Возраст</label>
            <input type="text" class="form-control col" id="age" #box2 (keyup)="getAge(box2.value)">
        </div>

        <div class="mb-3 row">
            <label for="lagguage" class="form-label col-2 fw-bold">Вес багажа</label>
            <input type="text" class="form-control col" id="lagguage" #box3 (keyup)="getLagguage(box3.value)">
        </div>


        <input type="button" (click)="getAll()" class="btn btn-primary col-12 fw-bold" value="Рассчитать" [disabled]="display">
    </form>
</div>

<div *ngIf="display" class="container with-border">
    <label class="form-label col-2 fw-bold">Предложения</label>
    <app-aero [kmQuantity]='Km' [age]='Age' [lagguage]='Lagguage'></app-aero>
    <app-railway [kmQuantity]='Km' [age]='Age' [lagguage]='Lagguage'></app-railway>
</div>